{
  "things": [
    {
      "name": "presenceSensor1",
      "policy": "thing_presence_sensor.json",
      "file": "thing_presence_sensor_floor1.json"
    },
    {
      "name": "presenceSensor2",
      "policy": "thing_presence_sensor.json",
      "file": "thing_presence_sensor_floor2.json"
    }
  ],
  "certs": [
    {
      "name": "elevator",
      "policy": "elevator.json"
    },
    {
      "name": "floor1_fire_alarm",
      "policy": "fire_alarm.json"
    },
    {
      "name": "floor2_fire_alarm",
      "policy": "fire_alarm.json"
    },
    {
      "name": "floor1_fire_siren",
      "policy": "fire_siren.json"
    },
    {
      "name": "floor2_fire_siren",
      "policy": "fire_siren.json"
    },
    {
      "name": "floor1_water_pump",
      "policy": "water_pump.json"
    },
    {
      "name": "floor2_water_pump",
      "policy": "water_pump.json"
    },
    {
      "name": "floor1_badge_reader",
      "policy": "floor1_badge_reader.json"
    },
    {
      "name": "floor2_badge_reader",
      "policy": "floor2_badge_reader.json"
    },
    {
      "name": "floor1_door_lock",
      "policy": "floor1_door_lock.json"
    },
    {
      "name": "floor2_door_lock",
      "policy": "floor2_door_lock.json"
    },
    {
      "name": "floor1_smoke_sensor",
      "policy": "floor1_smoke_sensor.json"
    },
    {
      "name": "floor2_smoke_sensor",
      "policy": "floor2_smoke_sensor.json"
    },
    {
      "name": "floor1_light",
      "policy": "light.json"
    },
    {
      "name": "floor2_light",
      "policy": "light.json"
    },
    {
      "name": "lambda_badge_check",
      "policy": "lambda_badge_check.json"
    },
    {
      "name": "lambda_fire_alarm",
      "policy": "lambda_fire_alarm.json"
    },
    {
      "name": "lambda_logger",
      "policy": "lambda_logger.json"
    }
  ]
}
